<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUP</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    

</head>
<body>
    <h1><span>ENTER MATRIX VALUES</span></h1>
    <form method="post" action="{{ url_for('result') }}">

        <h2>Matrix A:</h3><br>
        {% for i in range(size) %}
        <div class="matrix-row">
            {% for j in range(size) %}
            <input type="text" name="matrix{{ i }}{{ j }}" class="matrix-input" required>
            {% endfor %}
        </div>
        <br>
        {% endfor %}
    
        <h2>Matrix B:</h3><br>
        <div class="matrix-row">
            {% for i in range(size) %}
            <input type="text" name="vector{{ i }}" class="vector-input" required>
            <br>
            {% endfor %}
        </div>

        
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>

